:root {
  --color-primary: #3A6FCF;
  --color-secondary: #F4F1E0;
  --black: #000;
  --white: #FFF;
  --font-seymour: 'Seymour One', cursive;
  --font-montserrat: 'Montserrat Alternates', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat);
} 