
/* ---- CONTAINER GERAL ---- */
.container {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

/* ---- PADRÕES SUPERIOR E INFERIOR ---- */
.patternTop,
.patternBottom {
  width: 100%;
  height: 290px; 
  background-image: url('/images/albertos.png');
  background-size: contain;
  background-repeat: repeat-x;
}

/* ---- CONTEÚDO CENTRAL ---- */
.content {
  width: 300%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

/* ---- COLUNAS (em preparo / finalizado) ---- */
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.column h2 {
  font-size: 32px;
  font-weight: 700;
  color: #3A6FCF;
  margin-bottom: 20px;
  font-family: var(--font-seymour);
}

/* ---- CAIXAS DAS SENHAS ---- */
.box {
  width: 210px;
  padding: 12px 0;
  border: 4px solid #3A6FCF;
  border-radius: 4px;
  background: white;
  font-size: 20px;
  font-weight: "--font-montserrat";
  color: #3A6FCF;
  cursor: default;
  font-family: var(--font-montserrat);
}

/* ---- IMAGEM CENTRAL (hambúrguer mascote) ---- */
.centerImage {
  width: 400px;
  height: 475px;
  background-image: url("/images/albertopng.png");
  background-size: 320px;
  background-repeat: no-repeat;
  background-position: center;
}
.centerImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
